/* Switch */
.switch,
.switch-label,
.switch-slider {
  width: 154px;
  height: 54px;
}

/* .switch>input[type="checkbox"]+label:before {
  border: none;
  left: 0%;
} */

.switch>input[type="checkbox"]:checked+label:before {
  background-color: white;
  border-color: white;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 50px 50px 0;
}

.switch-check {
  position: absolute;
  visibility: hidden;
}

.switch-label,
.switch-slider {
  position: absolute;
  top: 0;
}

.switch-label {
  left: 0;
  text-indent: -9999px;
}

.switch-slider {
  border-radius: 27px;
  box-shadow:
    0 0 0 2px rgba(0, 0, 0, 0.1) inset,
    0 0 4px rgba(0, 0, 0, 0.5) inset,
    0 5px 4px 1px rgba(0, 0, 0, 0.3) inset,
    0 27px 0 rgba(0, 0, 0, 0.07) inset;
  -webkit-transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

.switch-slider-on {
  left: 0;
  width: 54px;
  background: #18bfef 100% 12px no-repeat;
}

.switch-slider-off {
  right: 0;
  background: #FFF 86px 14px no-repeat;
}

.switch-slider-off:after {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #E5E5E5;
  background: -webkit-linear-gradient(top, #D0D0D0, #FDFDFD);
  background: -moz-linear-gradient(top, #D0D0D0, #FDFDFD);
  background: -o-linear-gradient(top, #D0D0D0, #FDFDFD);
  background: linear-gradient(top, #D0D0D0, #FDFDFD);
  box-shadow:
    0 0 2px 2px #FFF inset,
    0 0 4px 1px rgba(0, 0, 0, 0.6);
  content: '';
}

.switch-label:active .switch-slider-off:after {
  background: #D5D5D5;
  background: -webkit-linear-gradient(top, #C8C8C8, #E4E4E4);
  background: -moz-linear-gradient(top, #C8C8C8, #E4E4E4);
  background: -o-linear-gradient(top, #C8C8C8, #E4E4E4);
  background: linear-gradient(top, #C8C8C8, #E4E4E4);
}

.switch-check:checked+.switch-label .switch-slider-on {
  width: 154px;
}

.switch-check:checked+.switch-label .switch-slider-off {
  width: 54px;
}
