input[type="submit"].userTags {
  border-radius: 10px;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #18bfef !important;
  color: #18bfef !important;
  cursor: default;

}

.actions-interests {
  display: fle;
  flex-wrap: wrap
}

ul.actions-interests > li {
  padding-bottom: 1rem;
}
